<!DOCTYPE html>
<html layout:decorate="~{layout/layout}">
<head>
<meta charset="UTF-8">
</head>
<body>
	
	 <!-- START FOOTER -->
    <footer th:fragment="rodape"  class="page-footer gradient-45deg-light-blue-cyan">
        <div class="footer-copyright">
          <div class="container">
            <span>Copyright ©
              <script type="text/javascript">
                document.write(new Date().getFullYear());
              </script> <a class="grey-text text-lighten-2" href="http://themeforest.net/user/pixinvent/portfolio?ref=pixinvent" target="_blank">EDIGITAL </a>Todos os direitos reservados.</span>
            <span class="right hide-on-small-only"> Design e Desenvolvido por <a class="grey-text text-lighten-2" href="https://pixinvent.com/"> EDIGITAL</a></span>
          </div>
        </div>
    </footer>
    <!-- END FOOTER -->	
</body>
</html>